$main-background: #141921
$main-text: #F2F2F2

$nav-background: #191E28
$nav-text: #D1D2C8

body
  font-family: 'Exo 2', sans-serif
  background-color: $main-background
  color: $main-text
  overflow: hidden

@mixin card
  margin: 5%
  padding: 2%
  border: 5px solid
  border-color: $main-text
  display: block
  text-align: center
  height: 550px

@mixin title-text
  position: relative
  font-size: 6em
  font-weight: lighter

@mixin normal-text
  position: relative
  font-size: 2em
  font-weight: lighter
