$main-background: #1A181B
$main-text: #F2F2F2

$nav-background: #1A181B
$nav-text: #D1D2C8

$card-background: #1A181B
$border: #F2F2F2

body
  margin: 0 auto
  font-family: 'Exo 2', sans-serif
  color: $main-text
  overflow: hidden
  background-color: $main-background

@mixin card
  background-color: $card-background
  margin: 5%
  padding: 2%
  border: 5px solid
  border-color: $border
  display: block
  text-align: center
  height: 550px

  @media only screen and (max-device-height: 850px)
    height: 450px
  @media only screen and (max-device-height: 768px)
    height: 350px
  @media only screen and (max-device-height: 700px)
    height: 300px
  @media only screen and (max-device-height: 650px)
    height: 320px


@mixin title-text
  position: relative
  font-size: 6vw
  font-weight: lighter

  @media only screen and (max-device-height: 850px)
    top: 15%
  @media only screen and (max-device-height: 768px)
    top: 0%
  @media only screen and (max-device-height: 700px)
    top: -5%
  @media only screen and (max-device-width: 600px)
    top: 10%
    font-size: 3em


@mixin normal-text
  position: relative
  font-size: 2vw
  font-weight: lighter

  @media only screen and (max-device-height: 850px)
    top: 15%
  @media only screen and (max-device-height: 768px)
    top: 0%
  @media only screen and (max-device-height: 700px)
    top: -5%
  @media only screen and (max-device-width: 600px)
    top: 10%
    font-size: 1em



// Test colors below
$pop-pop: #A63446
$warm: #1B264F
$old-border: #738490
$warm-red: #A52A2A
